*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
raw/
*.suo
*.sln
*.sdf
*.uproject
*.opensdf
/unreal/*.sdf
/unreal/Content/ArtAssets/The_Moon__Venus_and_Jupiter_at_dusk__1__Mat.uasset
/unreal/Content/ArtAssets/ENV/ColumnTop_D.uasset
/unreal/Content/ArtAssets/ENV/ColumnTop_M.uasset
/unreal/Content/ArtAssets/ENV/ColumnTop_NRM.uasset
/unreal/Content/ArtAssets/ENV/column.uasset
/unreal/Content/ArtAssets/ENV/column_lp_un.uasset
/unreal/Content/ArtAssets/environment/EvironmentUnterricht/ColumnMetal_M.uasset
/unreal/Content/ArtAssets/environment/EvironmentUnterricht/ColumnTop_D.uasset
/unreal/Content/ArtAssets/environment/EvironmentUnterricht/ColumnTop_M.uasset
/unreal/Content/ArtAssets/environment/EvironmentUnterricht/ColumnTop_NRM.uasset
/unreal/Content/ArtAssets/environment/EvironmentUnterricht/ColumnTop_NRM_Mat.uasset
/unreal/Content/ArtAssets/environment/EvironmentUnterricht/column.uasset
/unreal/Content/ArtAssets/environment/EvironmentUnterricht/column_Inst.uasset
/unreal/Content/ArtAssets/environment/EvironmentUnterricht/column_lp_un.uasset
/unreal/Content/ArtAssets/environment/column.uasset
/unreal/Content/ArtAssets/environment/column_lp_un.uasset
